@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
$main: #294186
$pri: #CB3644
$dark: #001552
$light: #ffffff
$bg: #F0F0F0
$para: #2D2D2D

*
  margin: 0
  padding: 0
  box-sizing: border-box
  background: none
  border: none
  outline: none
  font-family: 'Lato', sans-serif
  text-decoration: none
  list-style: none
  // color: $dark

@mixin flex($justify)
  display: flex
  justify-content: $justify
  align-items: center

@mixin grid($column)
  display: grid
  grid-template-columns: $column
  grid-gap: 20px

@mixin imageBg()
  background-position: center
  background-size: cover
  background-repeat: no-repeat

@mixin wrapper()
  max-width: 1300px
  margin: 0 auto
  padding: 0 20px

@mixin trans()
  transition: .4s

@mixin button()
  padding: .4rem 1rem
  font-size: 14px
  background-color: $pri
  color: $light
  border-radius: 10px

@mixin dark($opacity)
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  background-color: rgba(#000000, $opacity)

@mixin member($size)
  .image
    height: $size
    border-radius: 10px
    @include imageBg()
    position: relative

    .info
      position: absolute
      left: 5px
      bottom: 5px
      border-radius: 10px
      background-color: rgba($dark, .78)
      backfrop-filter: blur(10px)
      min-width: 230px
      padding: .7rem

      .name, p, .phone, strong
        color: $light

      .name
        font-size: 17px

      p
        font-size: 14px
        margin-bottom: 1rem

      .phone
        font-size: 12px

body
  background-color: $light
  --swiper-theme-color: #294186

section
  padding: 3rem 0

  &.bg
    padding: 3rem 0
    background-color: $bg

h4
  font-style: normal
  font-weight: bold
  font-size: 16px
  line-height: 19px
  display: flex
  align-items: center
  color: $dark

p
  font-style: normal
  font-weight: normal
  font-size: 18px
  line-height: 29px
  text-align: justify
  color: $para

.title
  font-style: normal
  font-weight: bold
  font-size: 48px
  line-height: 58px
  text-align: center
  color: $main
  margin-bottom: 2rem

.wrapper
  @include wrapper()

.swiper-pagination-bullet
  height: 5px
  width: 5px
  border-radius: 10px !important
  @include trans()

  &.swiper-pagination-bullet-active
    width: 20px

#google_translate_element
  .skiptranslate .goog-te-gadget
    color: $light

  span
    display: none

/*************    header     **************/
header
  position: sticky
  background-color: $light
  @include trans()
  z-index: 11

  .header-top
    padding: 10px 20px

    .wrapper
      @include wrapper()
      @include grid($column: 1fr 2fr 1fr)

    .logo, .flag
      width: 100%
      height: 70px
      @include flex($justify: flex-start)

      img
        height: 70px
        width: 70px
        object-fit: contain

    .flag
      @include flex($justify: flex-end)

    .company-name
      text-align: center

      h5
        font-size: 18px
        line-height: 144.5%
        font-weight: 600

  .navbar
    background-color: $main

    .wrapper
      @include flex($justify: space-between)

      .nav-link
        @include flex($justify: flex-start)

        li
          margin-right: 2rem

        .link
          font-size: 16px
          padding: 1rem 0
          color: $light
          font-weight: 400
          cursor: pointer

    .others
      @include flex($justify: flex-end)

    .social-media-icons
      @include flex($justify: flex-end)

      .icon
        margin: 0 10px

        i
          font-size: 17px
          color: $light
          opacity: .78

          &:hover
            opacity: 1

    .line
      height: 30px
      border-left: 1px dashed $light
      margin: 0 26px

    .language-switch
      @include flex($justify: flex-end)

      button
        opacity: .60
        color: $light
        font-size: 16px
        margin-right: 10px
        cursor: pointer

        &.active
          opacity: 1

/*************    banner     **************/
.banner
  .swiper-pagination-bullet
    background-color: $light

  img
    width: 100%
    height: 79.5vh
    object-fit: cover

/*************    home-banner     **************/
.home-banner
  @include flex($justify: space-between)
  height: 100%
  overflow-x: hidden
  max-width: 2000px
  width: 100%
  margin: 0 auto

  .team-members
    width: 20%
    padding-right: 20px

  .image-sliding
    width: 80%
    height: 100%
    padding-right: 20px
    overflow: hidden

    .swiper-pagination-bullet
      background-color: $light

    img
      width: 100%
      object-fit: cover

  .member
    @include member($size: 300px)
    overflow: hidden
    margin-bottom: 20px

  .members
    .swiper-slide
      @include member(300px)

/*************    about-us     **************/
.about-us
  @include grid($column: 3fr 1fr)

  .information
    h2
      margin-bottom: 23px
      font-size: 36px
      font-weight: 600

  .about-image
    @include member(400px)

/*************    notice     **************/
.notice
  &.download
    .list
      .item
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1)
  .list
    @include grid($column: 1fr 1fr 1fr 1fr)
    margin-top: 2rem

    .item
      background-color: $light
      border-radius: 15px

      img
        height: 190px
        width: 100%
        object-fit: cover
        border-radius: 15px

      .details
        padding: .8rem

        button
          margin-top: 1rem
          @include button()

/*************    out-team     **************/
.our-team
  .mySwiper
    padding-bottom: 2rem

  .list
    @include grid($column: 1fr 1fr 1fr 1fr 1fr 1fr)

    .item
      margin-bottom: 2rem

  .item
    border-radius: 10px

    img
      height: 225px
      width: 100%
      object-fit: cover
      border-radius: 10px

    .info
      padding: .7rem

      .name, p, .phone, strong
        color: $dark

      .name
        font-size: 17px

      p
        font-size: 14px
        margin-bottom: .7rem

      .phone
        font-size: 12px

/*************    our-service     **************/
.our-service
  .list
    @include grid($column: 1fr 1fr 1fr)

    .item
      text-align: center
      height: 300px
      position: relative
      margin-bottom: 4rem

      img
        height: 250px
        width: 100%
        object-fit: cover
        border-radius: 15px
        margin-bottom: 1rem

      .inner
        padding: 1rem
        position: absolute
        left: 50%
        top: 0
        width: 100%
        transform: translateX(-50%)

      .details
        border-radius: 15px
        border: 2px solid $light
        padding: 245px 1rem 1rem
        z-index: 1

      button
        margin-top: 1rem
        @include button()

/*************    footer     **************/
footer
  background-color: $dark
  padding: 3rem 0

  .footer-containt
    @include grid($column: 2fr 1.5fr 2fr)

  .footer-title
    font-style: normal
    font-weight: bold
    font-size: 28px
    line-height: 36px
    color: $light
    margin-bottom: 1.5rem

  ul
    li
      margin-bottom: .5rem

      a
        button
          @include flex($justify: flex-start)
          font-style: normal
          font-weight: normal
          font-size: 16px
          color: #BFBFBF
          cursor: pointer
          text-align: left

          i
            margin-right: 10px
            font-size: 12px
            color: #BFBFBF

          &:hover
            color: $light

            i
              color: $light

  .footer-item
    margin-bottom: 1rem

    .item
      margin-bottom: 1rem

    .footer-sub-title
      font-style: normal
      font-weight: bold
      font-size: 22px
      line-height: 29px
      color: $light

    p
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 22px
      color: #BFBFBF

/*************    gallery     **************/
.gallery
  .list
    @include grid($column: 1fr 1fr 1fr 1fr)

    .item
      .gallery-image
        height: 200px
        width: 100%
        @include imageBg()
        position: relative
        overflow: hidden
        cursor: pointer

        &:hover
          &::after
            top: 20%
            left: 20%
            height: 600px
            width: 600px
            background-color: rgba(#000000, .7)
            backdrop-filter: blur(10px)

          .name
            top: 50%
            transform: translate(-50%, -50%) scale(1.4)
            opacity: 1

        &::after
          content: ''
          position: absolute
          left: 0%
          top: 0%
          transform: translate(-50%, -50%)
          height: 0
          width: 0
          border-radius: 50%
          background-color: rgba($dark, .0)
          backdrop-filter: blur(0)
          @include trans()
          z-index: 1

      .name
        color: $light
        position: absolute
        left: 50%
        top: 30%
        transform: translate(-50%, -50%) scale(1.4)
        opacity: 0
        @include trans()
        z-index: 2

/*************    gallery-popup     **************/
.gallery-popup
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 100
  @include flex($justify: center)
  flex-direction: column
  pointer-events: none
  opacity: 0
  @include trans()

  &.active
    opacity: 1
    pointer-events: auto

    .gallery-bg
      opacity: 1

    .gallery-images
      transform: translateY(0) scale(1)

  .gallery-bg
    @include dark($opacity: .9)
    backdrop-filter: blur(10px)
    opacity: 0
    z-index: 1
    transition: .4s

  .close-gallery-btn
    position: absolute
    right: 30px
    top: 30px
    height: 30px
    width: 30px
    @include flex($justify: center)
    cursor: pointer
    z-index: 2
    @include trans()

    &:hover
      transform: rotate(90deg)

    img
      width: 100%

  .title
    position: relative
    text-align: center
    font-size: 30px
    color: $light
    z-index: 2

  .gallery-images
    position: relative
    transform: translateY(-200px) scale(.8)
    @include trans()
    transition-delay: .2s
    width: 100%
    z-index: 2

    .swiper-button-next, .swiper-button-prev
      color: $light
      background-color: rgba($pri, .3)
      padding: 2rem
      border-radius: 50%
      backdrop-filter: blur(4px)

    .swiper-wrapper
      padding: 1.5rem 0

    .swiper-slide
      height: 400px
      width: 100%
      @include imageBg()
      transition: .4s ease-in-out
      background-size: contain

      &.swiper-slide-active
        transform: scale(1.1)

/*************    contact-page    **************/
.contact-page
  .contact-details
    @include grid($column: 1fr 2fr)

    .contact-sec
      .item
        margin-bottom: 1rem

      .footer-sub-title
        font-style: normal
        font-weight: bold
        font-size: 22px
        line-height: 29px
        color: $dark

      p
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 22px
        color: #424242

    .contact-list
      width: 100%

      table
        border-collapse: collapse

        .head
          background-color: $main
          border: 1px solid $main
          color: $light

        .data
          border-color: $dark

        tr
          th
            border: 1px solid $light
            padding: 1rem
            text-align: left
            color: $light
            font-style: normal
            font-weight: normal
            font-size: 18px
            line-height: 22px

            &:nth-child(1)
              width: 25%

            &:nth-child(2)
              width: 50%

            &:nth-child(3)
              width: 25%

          td
            padding: 1rem
            border: 1px solid $dark
            font-style: normal
            font-weight: 400
            font-size: 18px
            line-height: 22px

            &:nth-child(2)
              font-weight: 600

.side-nav, .mobile-header
  display: none

.information-board
  .image
    max-width: 700px
    margin: 0 auto

    img
      width: 100%
